{% extends 'base/base.html'%}

{% block title %}INDEX VIEW {% endblock title %}



{% block content %}

   
<h1>Hola Soy About</h1>
<hr>

<button class="btn btn-primary">Testing Boostrap</button>

<table class="table table-striped">
    <thead>
        <th>Username</th>
        <th>Email</th>
        <th>First Name</th>
        <th></th>
        <th>Actions</th>
        <th></th>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td><a href="" class="btn btn-outline-info">Detail</a></td>
                <td><a href="" class="btn btn-outline-warning">Update</a></td>
                <td><a href="" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
