{% extends 'base/base.html'%}

{% block title %}INDEX VIEW {% endblock title %}



{% block content %}
    {% if request.user.is_authenticated %}
        <h1 style="padding-bottom: 2%; justify-items: center;">Bienvenido a PLESEM {{ request.user }}</h1>
        
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th></th>
                        <th>Actions</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.first_name }}</td>
                                <td><a href="" class="btn btn-outline-info">Detail</a></td>
                                <td><a href="" class="btn btn-outline-warning">Update</a></td>
                                <td><a href="" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
                    {{ form }}
                <button type="submit" class="btn btn-outline-success form-control">LogIn</button>
                <a href="" class=" btn btn-outline-warning form-control">Cancel</a>
            </form>
        </div>
        <div class="col-4">
            <h4>Si no tienes Cuenta Registrate <a href="{% url 'home:signup' %}" class="btn btn-link form-control">¡aqui!</a></h4>
        </div>
    </div>
    {% endif %}



{% endblock content %}
