{% extends "base/base.html" %}

{% block title %}SignUpView{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-outline-success">SignUp</button>
            <a href="{% url 'home:index' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}