{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">PLESEM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">Home</a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Grant Goal Actions
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'core:list_gg' %}">List Grant Goals</a></li>
                    <li><a class="dropdown-item" href="#">New GrantGoal</a></li>
                    <li><hr class="dropdown-divider"></li>
                    
                  </ul>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Sub Grant Goal Actions
                  </a>
                  <ul class="dropdown-menu">
                    
                    <li><a class="dropdown-item" href="">List SubGrant Goals</a></li>
                    <li><a class="dropdown-item" href="#">New SubGrantGoal</a></li>
                    <li><hr class="dropdown-divider"></li>
                    
                  </ul>
                </li> 
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Goal Actions
                  </a>
                  <ul class="dropdown-menu">
                    
                    <li><a class="dropdown-item" href="">List Goals</a></li>
                    <li><a class="dropdown-item" href="#">New Goal</a></li>
                    <li><hr class="dropdown-divider"></li>
                    
                  </ul>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Issue Actions
                  </a>
                  <ul class="dropdown-menu">
                    
                    <li><a class="dropdown-item" href="">List Issues</a></li>
                    <li><a class="dropdown-item" href="#">New Issue</a></li>
                    <li><hr class="dropdown-divider"></li>
                    
                  </ul>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Areas Actions
                  </a>
                  <ul class="dropdown-menu">
          
                    <li><a class="dropdown-item" href="">List Areas</a></li>
                    <li><a class="dropdown-item" href="#">New Area</a></li>
                  </ul>
                </li>
                
                
              </ul>
                
              </ul>


              <ul class="navbar-nav me-right mb-2 mb-lg-0" style="padding-right: 2%;">
                <li><a class="dropdown-item" href="{% url 'home:logout' %}" style="padding-right: 2%;">| Logout </a></li>
                <li><a class="dropdown-item" style="margin-left:2% ;" href=""></a> | {{ request.user }} |</li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
      
      <br>
      <hr>
      <br>

    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="col-2"></div>
    </div>
    
    <div class="row">
      <div class="col"></div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>