{% extends "base/base.html" %}

{% block title %}DELETE GRANT GOAL VIEW{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
           <h2>¿Realmente deseas eliminar al GrantGoal " {{ object }}"?</h2>
            <hr>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-danger form-control">Delete GrantGoal</button>
                </div>
                <div class="col">
                    <a href="{% url 'core:list_gg' %}" class="btn btn-outline-warning form-control">Cancel</a>
                </div>
            </div>
    </form>
{% endblock content %}

