{% extends "base/base.html" %}

{% block title %}LIST GRANT GOAL VIEW{% endblock title %}

{% block content %}
    <hr>
        <a href="{% url 'core:create_gg' %}" class="btn btn-outline-success">CREATE NEW GRANT GOAL</a>
       
    <hr>
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>User</th>
            <th>timestamp</th>
            <th>status</th>
            <th></th>
            <th>Actions</th>
            <th></th>
        </thead>
        <tbody>
            {% for gg in grant_goals %}
                <tr>
                    <td>{{ gg.id }}</td>
                    <td>{{ gg.gg_name }}</td>
                    <td>{{ gg.user }}</td>
                    <td>{{ gg.timestamp }}</td>
                    <td>{{ gg.status }}</td>
                    <td><a href="{% url 'core:detail_gg' gg.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_gg' gg.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_gg' gg.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock content %}

