{% extends "base/base.html" %}

{% block title %}UPDATE GRANT GOAL VIEW{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
            {{ form }}
            <hr>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-success form-control">Update GrantGoal</button>
                </div>
                <div class="col">
                    <a href="{% url 'core:list_gg' %}" class="btn btn-outline-warning form-control">Cancel</a>
                </div>
            </div>
    </form>
{% endblock content %}

