{% extends "base/base.html" %}

{% block title %}LIST GRANT GOAL CLIENT VIEW{% endblock title %}


{% block content %}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for gg in response %}
                <tr>
                    <td>{{ gg.id }}</td>
                    <td>{{ gg.gg_name }}</td>
                    <td>{{ gg.status }}</td>
                    <td><a href="{% url 'apiclient:c_detail_gg' gg.id %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}